<%= form_tag create_game_path, :method => :post do %>
  <div class="form-row py-3 border-top">
    <%= submit_tag 'New Game', :class => "col-md-2 offset-md-5 btn btn-primary form-control" %>
  </div>
<% end %>
